{% comment %} Product template {% endcomment %}
{%- capture style -%}
  --PT: {{ section.settings.padding_top }}px;
  --PB: {{ section.settings.padding_bottom }}px;
{%- endcapture -%}

<section id="Product--{{ section.id }}"
  class="section-padding"
  data-section-id="{{ section.id }}"
  data-section-type="product"
  data-product-handle="{{ product.handle }}"
  data-product-template
  data-enable-history-state="true"
  style="{{ style }}"
>
  {%- render 'product', section_type: 'product-template' -%}
</section>

{%- assign current_variant = product.selected_or_first_available_variant -%}
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": {{ product.title | json }},
  "url": {{ shop.url | append: product.url | json }},
  {%- if product.featured_media -%}
    {%- assign media_size = product.featured_media.preview_image.width | append: 'x' -%}
    "image": [
      {{ product.featured_media | img_url: media_size | prepend: "https:" | json }}
    ],
  {%- endif -%}
  "description": {{ product.description | strip_html | json }},
  {%- if current_variant.sku != blank -%}
    "sku": {{ current_variant.sku | json }},
  {%- endif -%}
  "brand": {
    "@type": "Thing",
    "name": {{ product.vendor | json }}
  },
  {%- if current_variant.barcode -%}
    "gtin8": "{{ product.variants.first.barcode }}",
  {%- endif -%}
  {%- if current_variant.barcode.size == 12 -%}
    "gtin12": "{{ product.variants.first.barcode }}",
  {%- endif -%}
  {%- if current_variant.barcode.size == 13 -%}
    "gtin13": "{{ product.variants.first.barcode }}",
  {%- endif -%}
  {%- if current_variant.barcode.size == 14 -%}
    "gtin14": "{{ product.variants.first.barcode }}",
  {%- endif -%}
  "offers": [
    {%- for variant in product.variants -%}
      {
        "@type" : "Offer",
        {%- if variant.sku != blank -%}
          "sku": {{ variant.sku | json }},
        {%- endif -%}
        "availability" : "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
        "price" : {{ variant.price | divided_by: 100.00 | json }},
        "priceCurrency" : {{ cart.currency.iso_code | json }},
        "url" : {{ shop.url | append: variant.url | json }}
      }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  ]
}
</script>

{% schema %}
{
  "name": "Product page",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "product_layout",
      "label": "Image layout",
      "options": [
        {
          "value": "slideshow",
          "label": "Thumbnails - Bottom"
        },
        {
          "value": "slideshow-left",
          "label": "Thumbnails - Left"
        },
        {
          "value": "scrollable",
          "label": "Stacked"
        },
        {
          "value": "mosaic",
          "label": "Mosaic"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ],
      "default": "slideshow"
    },
    {
      "type": "select",
      "id": "image_size",
      "label": "Image size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "large"
    },
    {
      "type": "checkbox",
      "id": "lightbox",
      "label": "Show lightbox",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_cart_bar",
      "label": "Show Add to Cart bar",
      "info": "Hidden on mobile or if product has a selling plan.",
      "default": true
    },
    {
      "type": "header",
      "content": "Media",
      "info": "Learn more about [media types](https://help.shopify.com/manual/products/product-media)"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "Enable video looping",
      "default": false
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding top",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "price-and-title",
      "name": "Price and title",
      "settings": [
        {
          "type": "checkbox",
          "id": "show_vendor",
          "label": "Show vendor",
          "default": true
        },
        {
          "type": "header",
          "content": "Block spacing"
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Bottom padding",
          "default": 20
        }
      ],
      "limit": 1
    },
    {
      "type": "form",
      "name": "Form",
      "settings": [
        {
          "type": "checkbox",
          "id": "show_quantity",
          "label": "Show quantity picker",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "enable_payment_button",
          "label": "Show dynamic checkout button",
          "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_gift_card_recipient",
          "label": "Show recipient information form for gift card products",
          "default": false,
          "info": "Gift card products can optionally be sent direct to a recipient along with a personal message."
        },
        {
          "type": "header",
          "content": "Block spacing"
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Bottom padding",
          "default": 20
        }
      ],
      "limit": 1
    },
    {
      "type": "product-description",
      "name": "Product description",
      "settings": [
        {
          "type": "header",
          "content": "Block spacing"
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Bottom padding",
          "default": 20
        }
      ],
      "limit": 1
    },
    {
      "type": "social-share",
      "name": "Social share",
      "settings": [
        {
          "type": "header",
          "content": "Block spacing"
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Bottom padding",
          "default": 20
        }
      ],
      "limit": 1
    },
    {
      "type": "store-availability",
      "name": "Store availability",
      "settings": [
        {
          "type": "header",
          "content": "Block spacing"
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Bottom padding",
          "default": 20
        }
      ],
      "limit": 1
    },
    {
      "type": "complementary-products",
      "name": "Complementary products",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To select complementary products, add the Search & Discovery app. [Learn more](https://help.shopify.com/manual/online-store/search-and-discovery/product-recommendations)"
        },
        {
          "type": "header",
          "content": "Block spacing"
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Bottom padding",
          "default": 20
        }
      ]
    },
    {
      "type": "inventory_countdown",
      "name": "Inventory countdown",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "show_notice",
          "label": "Show notice",
          "default": "low-inventory",
          "options": [
            { "label": "Always", "value": "always" },
            { "label": "Low inventory", "value": "low-inventory" }
          ]
        },
        {
          "type": "range",
          "id": "max_inventory",
          "label": "Low inventory threshold",
          "min": 1,
          "max": 50,
          "step": 1,
          "default": 10
        },
        {
          "type": "checkbox",
          "id": "hide_inventory_counter",
          "label": "Hide inventory counter",
          "default": true
        },
        {
          "type": "header",
          "content": "Block spacing"
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Bottom padding",
          "default": 20
        }
      ]
    }
  ]
}
{% endschema %}